@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e91e1e;
  --foreground: #2fe30f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00e5ff;
    --foreground: #3019df;
    --h3: #00000011;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--h3);
}
